Q1)
1. Write four functions that directly mutate a list:
1. repeat(lst, n): Repeat lst n times.
2. add(lst, x): Adds x to the end of the lst.
3. remove(lst, m, n): Removes all elements between indices m and n
inclusive in lst.
4. concat(lst, x): concatenates lst with x (another list).
Examples
lst = [1, 2, 3, 4]
repeat(lst, 3) ➞ [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
add(lst, 1) ➞ [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1]
remove(lst, 1, 12) ➞ [1]
concat(lst, [3, 4]) ➞ [1, 3, 4]

In [ ]:

def repeat(lst,n):
    return lst * n

def add(lst, x):
    lst.append(x)
    return lst

def remove(lst,m,n):
    del lst[m:n+1]
    return lst

def concat(lst,lst2):
    return lst + lst2
    

lst = [1,2,3,4]
lst = repeat(lst,3)
print('Repeating list', lst)
lst = add(lst,8)
print("adding at the end of list",lst)
lst = remove(lst,1,8)
print('Removing some elements form list',lst)
lst = concat(lst,[6,8])
print('concating list',lst)

Repeating list [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
adding at the end of list [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 8]
Removing some elements form list [1, 2, 3, 4, 8]
concating list [1, 2, 3, 4, 8, 6, 8]

Q2). The classic game of Mastermind is played on a tray on which the
Mastermind conceals a code and the Guesser has 10 tries to guess it. The
code is a sequence of 4 (or 6, sometimes more) pegs of different colors. Each
guess is a corresponding sequence of 4 (or more) pegs of different colors. A
guess is 'correct' when the color of every peg in the guess exactly matches
the corresponding peg in the Mastermind's code.
After each guess by the Guesser, the Mastermind will give a score comprising
black & white pegs, not arranged in any order:
- Black peg == guess peg matches the color of a code peg in the same
position.
- White peg == guess peg matches the color of a code peg in another
position.
Create a function that takes two strings, code and guess as arguments, and
returns the score in a dictionary.
- The code and guess are strings of numeric digits
- The color of the pegs are represented by numeric digits
- no 'peg' may be double-scored
Examples
guess_score('1423', '5678') ➞ {'black': 0, 'white': 0}

guess_score('1423', '2222') ➞ {'black': 1, 'white': 0}
guess_score('1423', '1234') ➞ {'black': 1, 'white': 3}
guess_score('1423', '2211') ➞ {'black': 0, 'white': 2}

In [1]:

def guess_score(code, guesser):
    
    dict = {'black' : 0, 'white' : 0}
    BlackCnt = 0
    whiteCnt = 0

    if len(code) != len(guesser):
        print('code and guesser are of not of equal lenth')
        return False

    code = [code[x] for x in range(len(code))]   
  
    # find the black match
    for i in range(len(guesser)):
        if code[i] == guesser[i]:                
            code[i] = '-'                        
            BlackCnt += 1 
            dict['black'] = BlackCnt             
            
    #for white matches
    for i in range(len(guesser)):
        for j in range(len(code)):              
            if guesser[i] == code[j]:
                code[j] = '-'                   
                whiteCnt += 1
                dict['white'] = whiteCnt        
                
    return dict

In [2]:
guess_score('1423', '5678')

{'black': 0, 'white': 0}

In [3]:
guess_score('1423', '2222')

{'black': 1, 'white': 0}

In [4]:
guess_score('1423', '1234')

{'black': 1, 'white': 3}

In [5]:
guess_score('1423', '2211')

{'black': 0, 'white': 2}

Q3). Create a function that takes a list lst and a number N and returns a list of
two integers from lst whose product equals N.
Examples
two_product([1, 2, -1, 4, 5], 20) ➞ [4, 5]
two_product([1, 2, 3, 4, 5], 10) ➞ [2, 5]
two_product([100, 12, 4, 1, 2], 15) ➞ None

In [6]:

def two_product(lst, n):
    lst = sorted(lst,reverse = True)
    divisors = []
    for i in range(len(lst)):
        for j in range(i+1,len(lst)):
            if lst[i]*lst[j] == n:
                divisors.append(lst[i])            
                divisors.append(lst[j])
                break            
    return sorted(divisors)

In [7]:
two_product([1, 2, -1, 4, 5], 20)

[4, 5]

In [8]:
two_product([1, 2, 3, 4, 5], 10)

[2, 5]

In [9]:
two_product([100, 12, 4, 1, 2], 15)

[]

Q4). In this challenge, sort a list containing a series of dates given as strings.
Each date is given in the format DD-MM-YYYY_HH:MM:
'12-02-2012_13:44'
The priority of criteria used for sorting will be:
- Year
- Month
- Day
- Hours
- Minutes
Given a list lst and a string mode, implement a function that returns:
- if mode is equal to 'ASC', the list lst sorted in ascending order.
- if mode is equal to 'DSC', the list lst sorted in descending order.
Examples
sort_dates(['10-02-2018_12:30', '10-02-2016_12:30', '10-02-2018_12:15'],
'ASC') ➞ ['10-02-2016_12:30', '10-02-2018_12:15', '10-02-2018_12:30']
sort_dates(['10-02-2018_12:30', '10-02-2016_12:30', '10-02-2018_12:15'],
'DSC') ➞ ['10-02-2018_12:30', '10-02-2018_12:15', '10-02-2016_12:30']

sort_dates(['09-02-2000_10:03', '10-02-2000_18:29', '01-01-1999_00:55'],
'ASC') ➞ ['01-01-1999_00:55', '09-02-2000_10:03', '10-02-2000_18:29']

In [10]:
import datetime
def sort_dates(d, sort):
    if sort == 'ASC':
        print("Sorting in Ascending order")
        return sorted(d, key=lambda x: datetime.datetime.strptime(x, '%d-%m-%Y_%H:%M'), reverse = False)
    elif sort == 'DSC':
        print("Sorting in Descending order")
        return sorted(d, key=lambda x: datetime.datetime.strptime(x, '%d-%m-%Y_%H:%M'), reverse = True)
    else:
        print("Provide right sorting order")

In [11]:
sort_dates(['10-02-2018_12:30', '10-02-2016_12:30', '10-02-2018_12:15'],
'ASC')

Sorting in Ascending order

['10-02-2016_12:30', '10-02-2018_12:15', '10-02-2018_12:30']

In [12]:
sort_dates(['10-02-2018_12:30', '10-02-2016_12:30', '10-02-2018_12:15'],
'DSC')

Sorting in Descending order

['10-02-2018_12:30', '10-02-2018_12:15', '10-02-2016_12:30']

In [13]:
sort_dates(['09-02-2000_10:03', '10-02-2000_18:29', '01-01-1999_00:55'],
'ASC')

Sorting in Ascending order

['01-01-1999_00:55', '09-02-2000_10:03', '10-02-2000_18:29']

Q5). Write a function that selects all words that have all the same vowels (in any
order and/or number) as the first word, including the first word.
Examples
same_vowel_group(['toe', 'ocelot', 'maniac']) ➞ ['toe', 'ocelot']
same_vowel_group(['many', 'carriage', 'emit', 'apricot', 'animal']) ➞
['many']
same_vowel_group(['hoops', 'chuff', 'bot', 'bottom']) ➞ ['hoops', 'bot',
'bottom']

In [14]:
def findVowelInWord(word):
    vowel = 'aeiou'
    lstvowstr = ''    
    for i in range(len(word)):        
        if word[i] in vowel:
            lstvowstr = lstvowstr + word[i]
    return ''.join(set(lstvowstr)) # find the unique vowels in the word


def same_vowel_group(lst):
    vowel = 'aeiou'
    resultlst = []
    test = findVowelInWord(lst[0])   # find the vowels in each word of the list     
    resultlst.append(lst[0]) # append the first word in to list
    for i in range(1,len(lst)):
        vowWord = findVowelInWord(lst[i])
        if test == vowWord: # check the vowel of each word with first word in the list
            resultlst.append(lst[i])
    return resultlst

In [15]:
same_vowel_group(['toe', 'ocelot', 'maniac'])

['toe', 'ocelot']

In [16]:
same_vowel_group(['many', 'carriage', 'emit', 'apricot', 'animal'])

['many']

In [17]:
same_vowel_group(['hoops', 'chuff', 'bot', 'bottom'])

['hoops', 'bot', 'bottom']


Q6). Create a function that takes a list of more than three numbers and returns
the Least Common Multiple (LCM).
Examples
lcm_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) ➞ 2520
lcm_of_list([13, 6, 17, 18, 19, 20, 37]) ➞ 27965340
lcm_of_list([44, 64, 12, 17, 65]) ➞ 2333760

In [18]:
from math import gcd
def lcm_of_list(lst):
    a = [100, 200, 150]   
    lcm = 1
    for i in lst:
        lcm = lcm*i//gcd(lcm, i)
    return lcm

In [19]:
lcm_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

2520

In [20]:
lcm_of_list([13, 6, 17, 18, 19, 20, 37])

27965340

In [21]:
lcm_of_list([44, 64, 12, 17, 65])

2333760